/* ====================== General */

body {
    background-color: #e7f0e6;
  }
  
  body.error-404 {
    background-color: #1da1f2;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .btn {
    border-radius: 15px;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  /* ======================= Nav */
  
  .navbar {
    background-color: #014204;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
  }
  
  .navbar a {
    color: #815225;
    font-size: 13px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #1c94e0;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 16px;
    border-radius: 2px;
  }
  
  .nav > li > a > img {
    width: 32px;
    border-radius: 32px;
  }
  
  ul.nav.navbar-nav {
    align-items: center;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }
  
  nav form.navbar-form {
    display: flex;
    position: relative;
  }
  
  .onboarding {
    background-color: #e7f0e6;
  }
  
  @media (max-width: 468px) {
    nav form.navbar-form {
      display: none;
    }
  }
  
  nav + .container {
    margin-bottom: 1rem;
  }

  .navbar-right a{
    text-decoration: none;
  }

  .navbar-right button{
    text-decoration: none;
  }

  .logout-form li{
    width: 75px;
  }

  .logout-form li button{
    color: rgba(0, 0, 0, 0.623);
    font-weight: 700;
    font-size: small;
  }
  
  /* ===================== User profile */
  
  .join-message {
    margin-top: 100px;
    text-align: center;
  }
  
  #profile-image,
  #profile-avatar {
    border-radius: 100%;
    display: block;
    margin-left: -70px;
  }
  
  #profile-image {
    margin: 0 auto 15px;
    width: 100%;
  }
  
  #profile-avatar {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    margin-top: -120px;
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }
  
  .full-width {
    width: 100vw;
    margin: 0 -50vw;
    position: relative;
    left: 50%;
    right: 50%;
  }
  
  .row.full-width {
    background-color: #fff;
    margin-top: -80px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 60px;
    align-items: center;
  }
  
  .user-stats > .ml-auto {
    display: flex;
    align-items: center;
  }
  
  .user-stats > .ml-auto .btn {
    min-width: 105px;
    padding: 6px 16px;
  }
  
  .stat {
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    padding: 14px 15px 7px;
    line-height: 1;
  }
  
  .stat > .small {
    color: #657786;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
  
  .stat > .small + h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
  }
  
  #sidebar-username {
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    word-wrap: break-word;
  }
  
  @media (max-width: 768px) {
    .full-width .user-stats .stat {
      display: none;
    }
  }

  /* ============================ Signed out home */
  
  .home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 8px #66757f;
  }
  
  .home-hero .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 150px;
  }
  
  .home-hero h1 {
    margin-bottom: 4rem;
  }
  
  .home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
  }

  h1{
    text-align: center;
    font-size: 150%;
  }

  .container .alert{
    text-align: center;
    margin: 0;
  }

  .container p {
    text-align: center;
    font-size: large;
  }

  .home-btns{
    text-align: center;
  }

  .home-btns a{
    text-decoration: none;
  }

  .home-btns ul{
    list-style-type: none;
  }

  .welcome{
    position: relative;
    top: 100px;
  }

  .logo{
    height: 160px;
    width: 82px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ============================== Signed in Home */
  
  #home-aside > .user-card {
    margin-top: 0;
    overflow: hidden;
  }
  
  #home-aside > .user-card .card-link {
    display: flex;
  }
  
  #home-aside > .user-card .card-link > p {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
  }
  
  #home-aside > .user-card .stat {
    padding: 14px 0 7px;
  }
  
  #home-aside > .user-card .user-stats {
    display: flex;
    justify-content: space-around;
  }
  
  #home-aside > .user-card > div {
    width: 100%;
  }
  
  #home-aside .card-link > p {
    position: relative;
  }
  
  #home-aside .stat h4 {
    text-align: left;
  }
  
  /* ========================== Signup/Login */
  
  #user_form input.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
  }

  #signup-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #login-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* =========================== Edit Page */
  
  .edit-btn-area {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-btn-area > .btn {
    width: 48%;
  }

  .button-container {
    display: inline-block;
  }
  
  .button-container a,
  .button-container button {
    margin-right: 10px;
  }
  
  /* ================================ 404 page */
  
  .message-404 {
    color: white;
    margin-top: 2em;
    text-align: center;
  }
  
  .message-404 a {
    color: white;
  }
  
  .message-404 > h4.display-4 {
    font-size: 2.5em;
  }
  
  .message-404 .form-inline input {
    flex: 1;
  }

   /* ================================ Encounter pages */

   .new-encounter-h1{
    margin-top: 100px;
   }

   #encounter-add-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .encounter-a{
    font-size: larger;
    font-weight: 600;
    padding: 8px 14px 8px 14px;
    border: solid #014204 1px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
   }

   .encounter-a:hover{
    background-color: #014204c2;
    transition: background-color 0.3s ease;
   }

   .all-encounters-li{
    margin-top: 20px;
    margin-bottom: 20px;
   }

  /* ================================ Monster Search */

  * {
    box-sizing: border-box;
  }
  
  :focus {
    outline: 1px solid;
  }
  
  .search-container {
   position: relative;
   /* left: 47%; */
   top: 50px;
   width: 204px;
  }

  .search-container .btn{
    margin-bottom: 10px;
  }
  
  .search-container input {
   /* background-color: #1b1000; */
   height: 35px;
   border: none;
   border-radius: 5px;
   text-align: center;
   width: 204px;
   font-family: 'Chivo', sans-serif;
   /* color: lightgray; */
  }
  .search-container .suggestions {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    /* color: #fff; */
  }
  
  .monster-ul {
    list-style-type: none;
    padding: 0;
    margin:3px;
  }
  
  .monster-ul li:hover {
    cursor: pointer;
    background-color: #1c94e0;
  }

  .monsters-in-table{
    position: absolute;
    left: 300px;
    width: 500px;
  }

  .monsters-in-table ul{
    list-style: none;
  }

  .monsters-in-table li{
    margin-top: 8px;
    margin-bottom: 8px;
  }

   /* ============================== initiative cards and buttons */

   #cardContainer{
    display:grid;
    grid-template-columns: repeat(8, 18.5%);
    grid-gap:5px;
  }

  #cardContainer label{
    text-align:right;
  }

  #cardContainer label:after {
    content: ":";
  }

  .card{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(247, 248, 239);
    margin-top: 10px;
  }

  .card-label{
    display: inline-block;
    width: 110px;
    text-align: right;
  }

  .card-input{
    margin: 2;
    border-radius: 4px;
    outline: none;
    text-align: center;
    width: 100%;
  }

  .card .card-body .btn{
    margin:5 auto;
    display:block;
    margin-top: 16px;
  }

  .card.selected {
    background-color: #a0e5fa;
  }

  .btn{
    margin: 4;
  }