/* ====================== General */

body {
    background-color: #e7f0e6;
  }
  
  body.error-404 {
    background-color: #fff;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .btn {
    border-radius: 15px;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  /* ======================= Nav */
  
  .navbar {
    background-color: #014204;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
  }
  
  .navbar a {
    color: #815225;
    font-size: 13px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #fff;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 16px;
    border-radius: 2px;
  }
  
  .nav > li > a > img {
    width: 32px;
    border-radius: 32px;
  }
  
  ul.nav.navbar-nav {
    align-items: center;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }
  
  nav form.navbar-form {
    display: flex;
    position: relative;
  }
  
  @media (max-width: 468px) {
    nav form.navbar-form {
      display: none;
    }
  }
  
  nav + .container {
    margin-bottom: 1rem;
  }

  .navbar-right a{
    text-decoration: none;
  }

  .navbar-right button{
    text-decoration: none;
  }

  .logout-form li{
    width: 75px;
  }

  .logout-form li button{
    color: rgba(0, 0, 0, 0.623);
    font-weight: 700;
    font-size: small;
  }
  
  /* ===================== User profile */
  
  .join-message {
    margin-top: 100px;
    text-align: center;
  }
  
  #profile-image,
  #profile-avatar {
    border-radius: 100%;
    display: block;
    margin-left: -70px;
  }
  
  #profile-image {
    margin: 0 auto 15px;
    width: 100%;
  }
  
  #profile-avatar {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    margin-top: -120px;
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }
  
  .full-width {
    width: 100vw;
    margin: 0 -50vw;
    position: relative;
    left: 50%;
    right: 50%;
  }
  
  .row.full-width {
    background-color: #fff;
    margin-top: -80px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 60px;
    align-items: center;
  }
  
  .user-stats > .ml-auto {
    display: flex;
    align-items: center;
  }
  
  .user-stats > .ml-auto .btn {
    min-width: 105px;
    padding: 6px 16px;
  }
  
  .stat {
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    padding: 14px 15px 7px;
    line-height: 1;
  }
  
  .stat > .small {
    color: #657786;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
  
  .stat > .small + h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
  }
  
  #sidebar-username {
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    word-wrap: break-word;
  }
  
  @media (max-width: 768px) {
    .full-width .user-stats .stat {
      display: none;
    }
  }

  /* ============================ Signed out home */
  
  .home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 8px #66757f;
  }
  
  .home-hero .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 150px;
  }
  
  .home-hero h1 {
    margin-bottom: 4rem;
  }
  
  .home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
  }

  h1{
    text-align: center;
    font-size: 150%;
  }

  .container .alert{
    text-align: center;
    margin: 0;
  }

  .container p {
    text-align: center;
    font-size: large;
  }

  .home-btns{
    text-align: center;
  }

  .home-btns a{
    text-decoration: none;
  }

  .home-btns ul{
    list-style-type: none;
  }

  .welcome{
    position: relative;
    top: 100px;
  }

  .logo{
    height: 160px;
    width: 82px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ============================== Signed in Home */
  
  #home-aside > .user-card {
    margin-top: 0;
    overflow: hidden;
  }
  
  #home-aside > .user-card .card-link {
    display: flex;
  }
  
  #home-aside > .user-card .card-link > p {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
  }
  
  #home-aside > .user-card .stat {
    padding: 14px 0 7px;
  }
  
  #home-aside > .user-card .user-stats {
    display: flex;
    justify-content: space-around;
  }
  
  #home-aside > .user-card > div {
    width: 100%;
  }
  
  #home-aside .card-link > p {
    position: relative;
  }
  
  #home-aside .stat h4 {
    text-align: left;
  }
  
  /* ========================== Sign up/Login */
  
  #user_form input.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
  }

  #signup-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #login-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* =========================== Profile Page */
  
  .edit-btn-area {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-btn-area > .btn {
    width: 48%;
  }

  .button-container {
    display: inline-block;
  }
  
  .button-container a,
  .button-container button {
    margin-right: 10px;
  }

  .user-image{
    max-height: 250px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
  }
  
  /* ================================ 404 page */
  
  .message-404 {
    color: white;
    margin-top: 2em;
    text-align: center;
  }
  
  .message-404 a {
    color: white;
  }
  
  .message-404 > h4.display-4 {
    font-size: 2.5em;
  }
  
  .message-404 .form-inline input {
    flex: 1;
  }

  .error-img {
    height: 550px;
    width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

   /* ================================ Encounter pages */

   .new-encounter-h1{
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
   }

   #encounter-add-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .encounter-a{
    font-size: x-large;
    font-weight: 600;
    padding: 14px 14px 14px 14px;
    border: solid #014204 1px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
   }

   .encounter-a:hover{
    background-color: #014204c2;
    transition: background-color 0.3s ease;
   }

   .all-encounters-ul{
    text-align: left;
    margin-left: 39%;
   }

   .all-encounters-li{
    margin-top: 30px;
    margin-bottom: 30px;
   }

   #monster-img{
    max-height: 50px;
    border-radius: 8px;
    margin-bottom: 7px;
    margin-right: 4px;
   }

   #big-monster-img{
    max-height: 400px;
    transform: translate(-50%, -50%);
    border: solid #014204c2 2px;
    border-radius: 10px;
    box-shadow: 0 0 1.5em rgba(99, 138, 87, 0.788);
   }

  /* ================================ Monster Search */

  * {
    box-sizing: border-box;
  }
  
  :focus {
    outline: 1px solid;
  }
  
  .search-container {
   position: relative;
   /* left: 47%; */
   top: 50px;
   width: 204px;
  }

  .search-container .btn{
    margin-bottom: 10px;
  }
  
  .search-container input {
   height: 35px;
   border: none;
   border-radius: 5px;
   text-align: center;
   width: 204px;
   font-family: 'Chivo', sans-serif;
  }
  .search-container .suggestions {
    background-color: #f7f8ef;
    border-radius: 5px;
    text-align: center;
    font-family: 'Chivo', sans-serif;
  }
  
  .monster-ul {
    list-style-type: none;
    padding: 0;
    margin:3px;
  }
  
  .monster-ul li:hover {
    cursor: pointer;
    background-color: #1c94e0;
  }
 
  .monsters-in-table{
    position: absolute;
    left: 300px;
    width: 500px;
  }

  .monsters-in-table ul{
    list-style: none;
  }

  .monsters-in-table li{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .remove-monster-form{
    margin-left: 3px;
  }

   /* ============================== initiative cards and buttons */

   #cardContainer{
    display:grid;
    grid-template-columns: repeat(8, 18.5%);
    grid-gap:5px;
  }

  #cardContainer label{
    text-align:right;
  }

  #cardContainer label:after {
    content: ":";
  }

  .card{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f7f8ef;
    margin-top: 10px;
  }

  .card-label{
    display: inline-block;
    width: 110px;
    text-align: right;
  }

  .card-input{
    margin: 2;
    border-radius: 4px;
    outline: none;
    text-align: center;
    width: 100%;
  }

  .card .card-body .btn{
    margin:5 auto;
    display:block;
    margin-top: 16px;
  }

  .card.selected {
    background-color: #a0e5fa;
  }

  .btn{
    margin: 4;
  }

  /* ============================== Stat Block */

  .stat-block {
    text-align: left;
    margin: 20px;
    display: block;
    width: 20%;
    min-width:300px;
    background: #FDF1DC;
    padding: 5px 10px 20px;
    box-shadow: 0 0 1.5em #867453;
    margin-left: auto;
    margin-right: 400px;
  }
  .stat-block.wide{
    width: 85.5%;
    min-width: 560px;
    text-align: center;
  }
  .stat-block.wide .section-left,
  .stat-block.wide .section-right{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: left;
  }
  .stat-block.wide .section-left{
    margin-right: 1.5%;
  }
  .stat-block.wide .section-right{
    margin-left: 1.5%;
  }
  @media screen and (max-width: 675px){
    .stat-block.wide{
      min-width: 280px;
    }
    .stat-block.wide .section-left,
    .stat-block.wide .section-right{
      display: block;
      width: 100%;
    }
    .stat-block.wide .section-left{
      margin: 0;
    }
    .stat-block.wide .section-right{
      margin: 0;
    }
  }
  .orange-border{
    display: block;
    background: #E69A28;
    border: 1px solid #000;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;
  }
  .orange-border.bottom{
    margin: 15px -10px -20px;
  }
  .tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #922610;
    fill: #922610;
    stroke: #922610;
  }
  .creature-heading h1{
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
  }
  .creature-heading h2{
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 1.2em;
    margin: 0 0 10px;
  }
  .property-line h4,
  .property-line p{
    display: inline;
    margin: 0;
    color: #922610;
    font-size: 13.5px;
    line-height: 1.2em;
  }
  .property-line h4{
    color: #7A200D;
  }
  .property-line{
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;
  }
  .property-line.first{
    margin: 8px 0 0
  }
  .property-line.last{
    margin: 0 0 10px;
  }
  .abilities{
    text-align: center;
    color: #922610;
  }
  .abilities > div{
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px; 
    font-size: 12px;
    line-height: 1em;
  }
  .abilities h4{
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #7A200D;
  }
  .abilities p{
    margin: 0 0 10px;
    line-height: 1.2em;
  }
  .property-block h4,
  .property-block p{
    font-size: 13.5px;
    line-height: 1.2em;
    display: inline;
    margin: 0;
  }
  .property-block h4{
    font-style: italic;
  }
  .property-block{
    padding: 10px 2px 0;
  }
  .actions h3{
    border-bottom: 1px solid #7A200D;
    color: #7A200D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
  }
  .actions{
    margin: 0 0 20px;
  }
  .actions:last-child{
    margin: 0;
  }
  
  @media print{
    .orange-border{
      display: none;
    }
    .stat-block,
    .stat-block.wide, 
    .stat-block.wide .section-left,
    .stat-block.wide .section-right,
    .property-line,
    .property-block{
      width: 100%;
      display: block;
    }
    .stat-block.wide .section-left{
      margin: 0;
    }
    .stat-block.wide .section-right{
      margin: 0;
    }
    .stat-block{
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }
    .stat-block.wide{
      page-break-after: always;
    }
  }
  @media screen and (max-width: 575px){
    .stat-block{
      margin: 20px 0;
    }
  }

  .h4-wrapper {
    margin: 0; 
    display: inline-block;
  }

  .side-by-side-layout {
    display: flex; 
    align-items: flex-start; 
  }

  .img-container {
    position: relative;
    left: 120px;
    top: 220px;
    margin-left: 40px;
  }
  
  .stat-block-container {
    position: relative;
    flex: 1;
    left: 30px;
    max-width: 200%;
  }