{% extends 'base.html' %}
{% block content %}
  <h1>All of your encounters</h1>

  <ul>
    {% for encounter in encounters %}
        <li>
          <a href="/encounter/{{ encounter.id }}">{{ encounter.name }}</a>
          <form action="/encounter/remove" method="POST" style="display: inline;">
            <input type="hidden" name="encounter_id" value="{{ encounter.id }}">
            <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
          </form>
        </li>
    {% endfor %}
  </ul>
{% endblock %}