{% extends 'base.html' %}
{% block content %}
<h1 class="new-encounter-h1">Create A New Encounter</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {{ form.csrf_token }}
        <div>
          {% if form.name.errors %}
            {% for error in form.name.errors %}
              <span class="text-danger">
            {{ error }}
          </span>
            {% endfor %}
          {% endif %}
          {{ form.name(placeholder="Name your new encounter!", class="form-control", rows="3") }}
        </div>
        <button id="encounter-add-btn" class="btn btn-outline-success btn-block">Add encounter</button>
      </form>
    </div>
  </div>

{% endblock %}