{% extends 'base.html' %}
{% block content %}
  <h1>{{ name }}</h1>

  <h3>Initiative Cards</h3>
  <div class="form-inline">
    <button class="btn btn-outline-success btn-block" onclick="createCard()">Add Initiative Card</button>
    <button class="btn btn-outline-success btn-block" onclick="saveCardData()">Save Card Data</button>
  </div>

  <div id="cardContainer">
   <!-- This is where initiative cards are when generated -->
  </div>

  <div class="search-container">
	<h3>Monster List</h3>

	<div class="monsters-in-table">
		{% if monsters%}
		<p>Click for more info</p>
		{%endif%}
		<ul>
			{% for monster in monsters %}
				<li>
					<a class="encounter-a" href="/stats/{{ monster.monster_name }}">{{ monster.monster_name|capitalize }}</a>
					<form class="remove-monster-form" action="/monster/remove" method="POST" style="display:inline;">
						<input type="hidden" name="encounter_id" value="{{ encounter.id }}">
						<input type="hidden" name="monster_id" value="{{ monster.id }}">
						<button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
					</form>
				</li>
			{% endfor %}
		</ul>
	</div>

	<button class="btn btn-outline-success btn-block" onclick="createLink()">Add Monster</button>
	<div class="form-inline">
		<input type="text" name="monster" id="monster" placeholder="Search Monsters">
	</div>

	<div class="suggestions">
		<ul class="monster-ul"></ul>
	</div>
{% endblock %}
