{% extends 'base.html' %}
{% block content %}
  <h1>Info for {{ monster_name }}</h1>
  <form>
    <input class="btn btn-outline-warning btn-block" type="button" value="Back" onclick="history.back()">
   </form>

  {% if stat_block %}
    <ul>
      {% for key, value in stat_block.items() %}
        {% if value.__class__.__name__ == 'list' %}
          <li><strong>{{ key }}:</strong>
            <ul>
              {% for item in value %}
                {% if item.__class__.__name__ == 'dict' %}
                  {% for inner_key, inner_value in item.items() %}
                    {% if inner_value.__class__.__name__ == 'list' %}
                      <li><strong>{{ inner_key }}:</strong>
                        <ul>
                          {% for nested_item in inner_value %}
                            {% if nested_item.__class__.__name__ == 'dict' %}
                              {% for nested_key, nested_value in nested_item.items() %}
                                {% if nested_value.__class__.__name__ == 'dict' %}
                                  <li><strong>{{ nested_key }}:</strong>
                                    <ul>
                                      {% for deeper_key, deeper_value in nested_value.items() %}
                                        <li><strong>{{ deeper_key }}:</strong> {{ deeper_value }}</li>
                                      {% endfor %}
                                    </ul>
                                  </li>
                                {% else %}
                                  <li><strong>{{ nested_key }}:</strong> {{ nested_value }}</li>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                              <li>{{ nested_item }}</li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% elif inner_value.__class__.__name__ == 'dict' %}
                      <li><strong>{{ inner_key }}:</strong>
                        <ul>
                          {% for nested_key, nested_value in inner_value.items() %}
                            <li><strong>{{ nested_key }}:</strong> {{ nested_value }}</li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}
                      <li><strong>{{ inner_key }}:</strong> {{ inner_value }}</li>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <li>{{ item }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% elif value.__class__.__name__ == 'dict' %}
          <li><strong>{{ key }}:</strong>
            <ul>
              {% for inner_key, inner_value in value.items() %}
                <li><strong>{{ inner_key }}:</strong> {{ inner_value }}</li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No data available for stat_block.</p>
  {% endif %}
{% endblock %}






